{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <title>Tabulka-Majitele</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
    </body>
</html>
<form method="post",action="udele">
    {% csrf_token %}

    {% load render_table from django_tables2 %}
    {% render_table table %}
    <select name="action_op">
            <option value="delete">Smazat</option>
            <option value="new">Nový</option>
            <option value="generovat">Generovat</option>
            <option value="nastav_c_l">Nastavit cenu lesu</option>
            <option value="nastav_c_p">Nastavit cenu pole</option>
    </select>
    <input type="text" name="cena" value="" placeholder="Zadejte Cenu">
    <input type="submit" name="majbut" class="btn btn-primary" value="Proveď">
</form>
