{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <title>Tabulka-Pozemky</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
    </body>
</html>
<form method="post",action="udelej">
    {% csrf_token %}

    {% load render_table from django_tables2 %}
    {% render_table table %}
    <select name="action_options">
            <option value="preze">Prezenční listina</option>
            <option value="vyplat">Výplatní listina</option>
            <option value="posta">Poštou</option>
            <option value="osobne">Osobně</option>
            <option value="tiskprez">Tisk prezenční listiny</option>
            <option value="tiskvyp">Tisk výplatní listiny</option>
            <option value="zakladni">Tabulka bez filtrů</option>
    </select>
    <input type="submit" name="pozbut" class="btn btn-primary" value="Proveď">
</form>
